/*connecting a css file to index file*/

body {
  background: lightgrey;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 40px;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: "Fredericka the Great", cursive;
}

ul {
  padding-left: 0
}

li {
  display: inline-block;
  padding: 20px;
  max-width: 200px;
  background: whitesmoke;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px 4px black;
  -moz-box-shadow: 1px 1px 4px black;
  -webkit-box-shadow: 1px 1px 4px black;
}


li img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  border: 2px solid black;
  padding: 1px;
}

form {
  background: whitesmoke;
  color: black;
  padding: 30px;
  border: 1px solid black;
  border-radius: 30px;
  width: 40%;
  margin: 0 auto;

}

.form-style {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 10px 10px 5px #000000;
}

.form-style2 {
  width: 120px;
  margin: 10px auto;
  text-align: center;
}


.form-style label{
    display: block;
    margin: 0;
    padding: 10px
}

.form-style label > span {
    width: 150px;
    float: left;
    text-align: left;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 15px;
    font-size: 20px
}

.form-style input{
    width: 60%;
}

.form-style input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px black;
    -moz-box-shadow: 1px 1px 4px black;
    -webkit-box-shadow: 1px 1px 4px black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style2 input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
}

.form-style input:hover {
    background: lightgrey;
}

.form-style2 input:hover {
    background: lightgrey;
}
